In computer programming, a **function** is a named section of a code that performs a specific task. This typically involves taking some input, manipulating the input and returning an output.

In [ ]:
# python functions using default arguments
def add_3(a,c,b=100):
  res = a+b+c
  print(res)

In [ ]:
add_3(60,78)

238

In [ ]:
print(dir())

['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'quit']

1.**Built-in functions,** such as help() to ask for help, min() to get the
minimum value, print() to print an object to the terminal,â€¦ You can find an overview with more of these functions here.

2.**User-Defined Functions ** (UDFs),  which are functions that users create to help them out;

3.**Anonymous functions**, which are also called lambda functions because they
  are not declared with the standard def keyword.

In [ ]:
def even_odd(num):                   #def :keyword to define a function, even_odd: just a user defined function name , num : argument , colon
  if num % 2 == 0:
    print('even number')
  else:
    print('odd number')

In [ ]:
even_odd(50)

even number

In [ ]:
def thermo(bodytemp):
  if bodytemp > 98.3:
    print("high fever")
  elif bodytemp < 98.3:
    print("cold fever")
  else:
    print ("normal")

In [ ]:
thermo(98.3)

normal

In [ ]:
def addition(a,b,c):
  tot = a+b+c
  print(tot)

In [ ]:
addition(78,56,90)

224

In [ ]:

def feve_calc(tem):
  if tem > 98.4:
    print("high fever")
  else:
    print("low fever")

In [ ]:
feve_calc(67.9)

low fever

In [ ]:
c = "india"

In [ ]:
even_odd(65765)

odd number

In [ ]:
 # function creation
def pr(a):
  if a > 100:
    print("ok")
  else:
    print("good")

In [ ]:
#function calling / reference call

pr(999)

ok

In [ ]:
even_odd(113)

odd number

In [ ]:
even_odd(444)

even number

In [ ]:
def total(a,b,c,d,e):
  t = a+b+c+d+e
  print(t)

In [ ]:
total(99,89,90,78,90)

446

In [ ]:
def six(m1,m2,m3,p=35): #3 runtime argument , one value declared argument
  total = m1+m2+m3+p
  if total >= 250:
    print("grade A")
  else:
    print("grade b")

In [ ]:
def eb_bil(unit,metercharge= 100):
  bill = metercharge + unit* 5
  print("your eb_bill for may month is ", bill)

In [ ]:
eb_bil(337)

your eb_bill for may month is  1785

In [ ]:
total(50,70,90,60,80)

350

In [ ]:
def mult(s,g,k=100):
 mul = s*g*k
 print (mul)

In [ ]:
mult(7,8)

5600

In [ ]:
total(10,20,30)

60

In [ ]:
def total1(a,b):
  return a+b

In [ ]:
total1(5,7)

12

In [ ]:
def s():         # defining a function
  print("welcome to india")

In [ ]:
s()#function calling

welcome to india

In [ ]:
#functions arguments :default , keyword,arbitary arugument

In [ ]:
def hello_worldgetname(name):
   #default argument
  print("welcome to India",name)

In [ ]:
hello_worldgetname('sasi') #function calling with arguments

welcome to India sasi

In [ ]:
def getname1(name):
  print(name)

In [ ]:
getname1('sasi','kala')

TypeError: ignored

In [ ]:
def fruits(*a): # keyword argument
  for i in a:
    print(a)

In [ ]:
fruits("hello", 'hi')

('hello', 'hi')
('hello', 'hi')

In [ ]:
#recursive function
def data():
   name = input("enter the name:")
   fathername = input("enter the fathername:")
   age = input("enter the age:")
   choice = input ("want to continue[y/n]")
   if choice == 'y':
      data()

In [ ]:
data()

enter the name:sasi
enter the fathername:gopal
enter the age:30
want to continue[y/n]y
enter the name:senthil
enter the fathername:kumar
enter the age:34
want to continue[y/n]n

In [ ]:
#global and local variable

a=20
def abc():
  g=10
  print(a+g)

In [ ]:
abc()

30

In [ ]:
print(a)

20

In [ ]:
gh=10
def just():
  h=100
  h =gh-10
  print(h)

In [ ]:
just()

90

In [ ]:
class MyClass:
	"This is my second class"
	a = 10
	def func(self):
		print('Hello')

In [ ]:
print(MyClass.a)

10

In [ ]:
print(MyClass.func)

<function MyClass.func at 0x7f59269d47b8>

In [ ]:
print(MyClass.__doc__)

This is my second class

In [ ]:
def welcome(name,a):
  print("hi", name,a)

In [ ]:
welcome('sasi','kala')

hi sasi kala

In [ ]:
def welcome(): # function with no argument
  print("hello good morning")  # function creation

In [ ]:
welcome() #function call

TypeError: ignored

In [ ]:
def addition(num1,num2): # function with arguments
  addnums = num1 + num2
  return addnums

In [ ]:
addition(34.5,787)

821.5

In [ ]:
def ebbill(meterrate,cons=100): # function with constant argument
  result = meterrate * 5 + cons
  print(result)

In [ ]:
ebbill(432)

2260

In [ ]:
10356.32
10356

In [ ]:
1